## Numpy vs Pandas

NumPy is best for numerical calculations, while Pandas is ideal for data cleaning, manipulation, and tabular data handling.  
Both work together, but Pandas adds structure and convenience for real-world datasets.

## What is Pandas?

Pandas is a Python library for data manipulation and analysis.

### DataFrame
like Excel tables (rows & columns)

In [ ]:
import pandas as pd

In [ ]:
# Series: 1D data
data = [10, 20, 30, 40]
s = pd.Series(data)
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [ ]:
# DataFrame: 2D table
data = {
    'Name': ['Ali', 'Sara', 'Zeeshan'],
    'Age': [25, 22, 28],
    'City': ['Lahore', 'Karachi', 'Islamabad']
}

df = pd.DataFrame(data)
print(df)

      Name  Age       City
0      Ali   25     Lahore
1     Sara   22    Karachi
2  Zeeshan   28  Islamabad

In [ ]:
# Access a column
print(df['Name'])

0        Ali
1       Sara
2    Zeeshan
Name: Name, dtype: object

In [ ]:
# Access a column
print(df['City'])

0       Lahore
1      Karachi
2    Islamabad
Name: City, dtype: object

In [ ]:

# Access multiple columns
print(df[['Name', 'City']])

      Name       City
0      Ali     Lahore
1     Sara    Karachi
2  Zeeshan  Islamabad

In [ ]:

# Access rows by index
print(df.loc[0])    # first row

Name       Ali
Age         25
City    Lahore
Name: 0, dtype: object

In [ ]:
print(df.iloc[1])   # second row

Name       Sara
Age          22
City    Karachi
Name: 1, dtype: object

In [ ]:
# Statistics
print(df['Age'].mean())   # average age
print(df['Age'].sum())    # sum of ages

25.0
75

In [ ]:
print(df[df['Age'] > 23])   # rows where Age > 23

      Name  Age       City
0      Ali   25     Lahore
2  Zeeshan   28  Islamabad

In [ ]:
# Add a new column
df['Country'] = 'Pakistan'
print(df)

      Name  Age       City   Country
0      Ali   25     Lahore  Pakistan
1     Sara   22    Karachi  Pakistan
2  Zeeshan   28  Islamabad  Pakistan

In [ ]:

# Write DataFrame to CSV
df.to_csv('output.csv', index=False)

In [ ]:
# Read CSV file
df = pd.read_csv('output.csv')

In [ ]:
import os
os.getcwd()

'c:\\Users\\User\\Desktop\\prac.1'

In [ ]:
import pandas as pd

health_data = pd.read_csv("output.csv", header=0, sep=",")

print(health_data.info())

      Name  Age       City   Country
0      Ali   25     Lahore  Pakistan
1     Sara   22    Karachi  Pakistan
2  Zeeshan   28  Islamabad  Pakistan

In [ ]:
print(health_data.info())